a.h2 {
  color: #463333;
}

a {
  text-decoration: none!important;
}
header {
  background-color: #ff9d37;
}

form {
  border-radius: 5px;
  background-color: #ff9d37;

}
.helptext {
  color: grey;
}

.form-register.auth input {
  display: block;
  width: 98%;
  margin-top: 5px;
  border-radius: 5px;
  padding: 1%
}
label {
  /* font-style: italic; */
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  /* color:grey; */
  /* font-weight: bold; */
}

.form-control {
  border-color: #6c757d!important;
  background-color: #f3f3f3!important;
}

#file_upload_button {
  background-color: black!important;
  padding: 10px;
}
