/* footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    margin-top: 10px;
} */
.nav__reg {
  text-decoration: none;
}
a.h2 {
  text-decoration: none;
  color: #463333;
}

a.p-2 {
  text-decoration: none;
}

form {
  border-radius: 5px;
  background-color: #f7f7f7;

}
.helptext {
  color: grey;
}

.form-register.auth input {
  display: block;
  width: 98%;
  margin-top: 5px;
  border-radius: 5px;
  padding: 1%
}
