{% extends 'h_work_15/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}

  <h2 class="mb-5">Новости</h2>

  <form class="p-5">
    <div class="container">
      {% for post in news %}
        <p class="ms-5">{{ post.title }}</p>
        <div class="d-flex">
          <div class="ms-3">
              <p>Создал: <b>{{ post.autor }}</b></p>
              <a href="{{ post.long_link }}" target="_blank"><p class="form__button">{{ post.slug }}</p></a>
          </div>
        </div>
        <hr class="mb-3">
      {% if object.autor == user %}
        <a href="{% url 'news-detail' post.id %}" class="btn btn-warning mt-1 mb-5 ms-2 shadow-lg">Детали ссылки</a>
      {% endif %}
      {% endfor %}
    </div>
    <a href="{% url 'news-add' %}" class="btn btn-warning mt-1 mb-5 ms-2 shadow-lg">Добавить ссылку</a>
  </form>

{% endblock %}
