{% extends 'h_work_15/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}

  <h2 class="mb-5">Новости</h2>

  <form class="p-5">
    <div class="container">
      <h3 class="ms-5">{{ object.title }}</h3>
      <hr>
      <p>{{ object.text }}</p>
      <div class="d-flex">
        <div>
          <img src="{{ object.autor.profile.img.url }}" alt="{{ object.autor }}" class="user-images mb-2 shadow-lg">
        </div>
        <div class="ms-3">
          {% if object.autor %}
            <p>Автор: <b>{{ object.autor }}</b></p
            <p>Дата: <b>{{ object.date|date:"d E Y в H:i" }}</b></p>
            {% else %}
            <p>Автор: <b>"Решил остаться неизвестным"</b></p>
            <p>Дата: <b>{{ object.date|date:"d E Y в H:i" }}</b></p>
          {% endif %}
        </div>
      </div>
      <hr class="mb-3">
    </div>
  </form>

{% endblock %}
